# Virtual Environment
venv312/

# Python cache
__pycache__/
*.pyc

# Chainlit
.chainlit/
chainlit.md

# Jupyter
*.ipynb

# Tests
test*.py

20_evaluation_questions_with_answers.xlsx
results.csv

# Environment variables
.env

# Local vector database
chroma/

# Local data
data/


evaluation_debug/

question_expected_answer.csv